html,body{
    height: 100%;
    width: 100%;
}

body { 
    font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px; 
    background-color: #5FCDE4; font-weight: 300; 
	-moz-text-size-adjust: none; 
    -webkit-text-size-adjust: none; 
    -ms-text-size-adjust: none;
}

h1, h2 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif; 
}
h1 { 
    font-size: 42px; 
    font-weight: 100;
}
h2 { 
    margin: 0; 
}

#left img, #right img { 
    border-radius: 7px; 
	border: 1px solid black;
}

#content{
    width: 62%; 
    min-width: 700px; 
    max-width: 820px; 
    margin: 32px auto; 
    text-align: center;
}

#head-wrap{
    height: auto;
    text-align: center;
}

#head-wrap div{
    display: inline-block;
    vertical-align: middle;
}

#head-wrap #pic{
    background-image: url(lemon.GIF); 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 60px; 
    width: 60px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 40px
}

#head-wrap #name{
    font-size: 42px; 
    font-weight: 100;
}

#head-wrap #details { 
    padding-top: 12px; 
    font-size: 14px; 
    font-weight: 300;
    text-align: left;
    margin-left: 28px;
}

#left, #right { 
    font-size: 14px; 
    padding-top: 1px; 
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
#left {
    width: 45%;
    margin-right: 5%;
}
#right { 
    width: 45%; 
}
#left li, #right li {
    margin-bottom: 16px;
}

.section{
    height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a { 
    color: #306082; 
}
a:hover { 
    color: #5B6EE1; 
}
a:visited { 
    color: #3F3F74; 
}

li a:first-child, p a:first-child { 
    font-weight: bold; 
}

#footer { 
    text-align: center; 
    padding: 20px; 
    padding-bottom: 0;
    margin-left: -10px;
}

#footer img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media screen and (max-device-width: 480px){
    body, #content, #head-wrap{
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: auto;
        min-width: 0;
        max-width: 480px;
    }
    #head-wrap{
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
    }
    #pic{
        width: 40vw !important;
        height: 40vw !important;
        margin: 10px auto !important;
        display: block !important;
    }
    #name{
        font-size: 11vw !important;
    }
    #left, #right{
        display: block;
        margin: 0 auto;
        width: 90%;
    }
    #details{
        margin: 0 auto !important;
        text-align: center !important;
        padding: 0 !important;
    }
    #footer{
        padding: 0;
        height: 3%;
        margin-top: 0;
        margin-bottom: 20px;
        border: none;
    }
    #footer img{
        width: 12%;
        height: auto;
    }
    .section{
        max-height: 40px;
        overflow: hidden;
    }
    .section.show{
        max-height: 5000px;
        transition: max-height .25s;
        -webkit-transition: max-height .25s;
        -moz-transition: max-height .25s;
        -ms-transition: max-height .25s;
    }
    h2::before{
        border-style: solid;
        border-width: 0.1em 0.1em 0 0;
        content: '';
        display: inline-block;
        height: 0.35em;
        left: -.4em;
        position: relative;
        top: 0.45em;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        vertical-align: top;
        width: 0.35em;
        transition: transform .25s;
        -webkit-transition: transform .25s;
        -moz-transition: transform .25s;
        -ms-transition: transform .25s;
    }
    .show h2::before{
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
    }
    h2{
        margin-left: 15px;
    }
}