<div class="pure-g">
	<div class="pure-u-1-1 pure-u-sm-1-2">
		<h3>CHILLBRAVE</h3>
		<p>Chipmusic</p>
	</div>
	<div class="pure-u-1-1 pure-u-sm-1-2 pure-hidden-xs">
		<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/9AawmT1Wy6s' frameborder='0' allowfullscreen></iframe></div>
	</div>
</div>